%h1= @device.name 

= raw @device.description_html

%p= link_to "List of songs in this machine &raquo;".html_safe, songs_karaoke_machine_path(@device), class: "btn btn-default btn-lg"


%h3 KTVs using this machine
#map{ style: "height: 400px" }


%p= link_to "View complete list &raquo;".html_safe, ktvs_karaoke_machine_path(@device)
= render 'pages/disqus_code'

- content_for :scripts do
  :javascript
    var data = JSON.parse("#{escape_javascript @device.karaoke_places.to_json(only: [:name, :latitude, :longitude, :slug])}")
    for (var i = 0; i < data.length; i++) {
      L.marker([ data[i]["latitude"], data[i]["longitude"]])
        .addTo(window.Map)
        .bindPopup("<a href='#{karaoke_places_url}/" + data[i]["slug"] + "'>" + data[i]["name"] + "</a>");
    }
