- build_meta_tags title: "#{@device.name} Songs"
%h1
  = link_to @device.name, @device
  Songs

%table.table.table-striped.table-condensed
  %tr
    %th Key
    %th Song
    %th Notes
    %th Artist
  - @songs.each do |song|
    %tr
      %td= song.key
      %td
        = link_to song.name, song
        - if song.original_name.present?
          = "(#{song.original_name})"
      %td= song.notes
      %td= link_to song.artist.name, song.artist

= paginate @songs, theme: 'twitter-bootstrap-3'
