- build_meta_tags title: "#{@device.name} Songs"

= render partial: 'layouts/initial_paginator', locals: { url: songs_karaoke_machine_url(params[:id]) }

%table.table.table-striped.table-condensed
  %tr
    %th Key
    %th Song
    %th.hidden-xs Notes
    %th Artist
  - @songs.each do |song|
    %tr
      %td= song.key
      %td
        = link_to song.name, song
        - if song.original_name.present?
          %span.hidden-xs= "(#{song.original_name})"
      %td.hidden-xs= song.notes
      %td= link_to song.artist.name, song.artist

= paginate @songs, theme: 'twitter-bootstrap-3'

%p
  = link_to "Go back to #{@device.name} info page", @device
