- if @artists.empty?
  %p
    %em
      No artists found.
      You can request for
      %strong Japanese artists
      with the
      = link_to "Request Info", request_info_path
      form.
      %br
      We are not accepting requests for
      %strong OPM, English, K-Pop or C-Pop
      artists at the moment.

- else 
  %table.table.table-striped.table-condensed
    %tr
      %th Name
      %th.hidden-xs Alternative/Original Name
      %th Tags
    - @artists.each do |artist|
      %tr
        %td= link_to artist.name, artist
        %td.hidden-xs= artist.original_name
        %td= artist.tag_list

  - unless @remove_paginate
    = paginate @artists
