%h1= @artist.name

%p
  %em= @artist.original_name

= raw @artist.description_html

%h2 Song List

%table.table.table-striped
  %tr
    %th Name
    %th Release Date
  - @artist.songs.order(:name).each do |song|
    %tr
      %td= link_to song.name, song
      %td= song.released_at
