- build_meta_tags title: @artist.name
%h1= @artist.name

%p
  %em= @artist.original_name

- if @artist.collaborators.present?
  %p
    %em= @artist.name
    is comprised of:
  %ul
    - @artist.members.each do |member|
      %li
        %em= link_to member.collaborator.name, member.collaborator
        \-
        = member.role

= raw @artist.description_html

%p
  Tags:
  - @artist.tag_list.each_with_index do |tag, i|
    = link_to(tag, artist_tag_path(tag)) + (i < @artist.tag_list.length - 1 ? ', ' : '')

- if @artist.collaborations.present?
  %h3 Related acts:
  %ul
    - @artist.collabs.each do |collab|
      %li
        %em= link_to collab.collaboration.name, collab.collaboration
        \-
        = collab.role

%h2 Song List

= render partial: 'songs/search_table', locals: { songs: @artist.songs }

= render 'pages/disqus_code'
