- if @songs.empty?
  %p
    %em No songs found

- else 
  %table.table.table-striped.table-condensed
    %tr
      %th Name
      %th.hidden-xs Alternative/Original Name
      %th.hidden-xs Notes
      %th Artist
      %th.hidden-xs Release Date
    - @songs.each do |song|
      %tr
        %td= link_to song.name, song
        %td.hidden-xs= song.original_name
        %td.hidden-xs= song.notes
        %td= link_to song.artist.name, song.artist
        %td.hidden-xs= song.released_at

  - unless @remove_paginate
    = paginate @songs, theme: 'twitter-bootstrap-3'
