- build_meta_tags title: @song.name
%h1= @song.name

%p
  %em= @song.original_name

%h3
  by
  = link_to @song.artist.name, @song.artist

%p
  Tags:
  - @song.tag_list.each do |tag|
    = link_to tag, song_tag_path(tag)

= raw @song.description_html

%h2 Karaoke Keys
%table.table.table-striped
  %tr
    %th Key
    %th Machine
  - @song.karaoke_songs.each do |entry|
    %tr
      %td= entry.key
      %td= link_to entry.karaoke_machine.name, entry.karaoke_machine

= render 'pages/disqus_code'
