- build_meta_tags title: @song.name
%h1= @song.name

- if admin_signed_in?
  = link_to "Edit", rails_admin.edit_path(model_name: "song", id: @song.id)

%p
  %em= @song.original_name

%p
  %strong
    by
    = link_to @song.artist.name, @song.artist

- if @song.description.present?
  = raw @song.description_html
- else
  %p= @song.notes

%p
  Release date:
  = l @song.released_at

%p
  Tags:
  - @song.tag_list.each_with_index do |tag, i|
    = link_to(tag, song_tag_path(tag)) + (i < @song.tag_list.length - 1 ? ', ' : '')

%h2 Karaoke Keys
%table.table.table-striped
  %tr
    %th Key
    %th Machine
  - @song.karaoke_songs.each do |entry|
    %tr
      %td= entry.key
      %td= link_to entry.karaoke_machine.name, entry.karaoke_machine

= render 'pages/disqus_code'
