- build_meta_tags title: "About"
%h1 About this Site

%p We don't sing that much anymore, but whenever we get dragged to a karaoke bar we always encounter the same problems:

%ul
  %li The place a bit pricey
  %li People can't decide what to sing
  %li Some songs are missing in the book
  %li Song books only list English, OPM, and maybe K-Pop. No J-Pop/C-Pop/European songs even though they may be in the machine

%p This site's main goals are to help you deal with those problems. It should:

%ul
  %li Help you find the closest, most affordable karaoke bar
  %li Suggest songs when your group cannot decide what to sing
  %li Provide numbers and links to lyrics of rare songs

%h2 Roadmap

%p Right now, this site is curated by a handful of admins. All requests and submissions will go through the comments and will be verified and processed by the admins.

%p If it gets a huge amount traffic (i.e. &gt; 5000 songs), we'll consider turning this into a fully crowdsourced site, with submission voting and wiki style editing.

%h2 On non-English/OPM music

%p
  As you might have noticed, this site prioritizes Japanese songs especially anime OSTs as they are more popular locally.
%p
  By the way, we also started a Facebook group for people interested in singing Japanese songs. Join us at <a href="https://www.facebook.com/groups/JKaraokePH/">https://www.facebook.com/groups/JKaraokePH/</a>.
%p
  Chinese and Korean Pop song entries are on hold until we get people who can curate the list.


%h2 A quick run-through of local karaoke machines

%p
  %strong
    %em= link_to "Kumyoung", karaoke_machine_path("kumyoung")
  karaoke machines are the reason why we started this database - they have a decent collection of modern Japanese music and their 
  = link_to "numbers/keys can be searched", "http://dncenter.ikaraoke.kr/"
  online. Even a hole in the wall public karaoke with a non-updated KY machine can have 
  = link_to '"Rewrite"', song_path("rewrite") 
  and
  = link_to '"Tears"', song_path("tears")
  hidden within it.
  As of this writing, we have confirmed that there are KY machines available locally that can be updated (for a fee) to add Japanese songs up to May 2015.

%p
  The only downsides to KY is that it's no longer as widespread as before (e.g. Timezone switched to Platinum) and the online search sometimes produces unexpected results (e.g. not all matching songs are displayed).

%p
  %strong
    %em= link_to "TJ Media", karaoke_machine_path("tj-media-tkr-304p")
  machines (more specifically, the TKR-304P model) also make up a good chunk of the local KTV market as it's the one used by Quantum Amusement arcades.
%p
  The machine receives praise for its build quality, but unfortunately for us this Philippine version does not match the numbering scheme used in their Korean site. This means that even though the machines may have pre-2012 Japanese/Chinese music, you need to buy a separate song book for those 2 languages from the local distributor's main office.

%p
  %strong
    %em= link_to "Platinum", karaoke_machine_path("platinum")
  is the last major "name" that you'll find in local KTVs and you can find them in local Timezone arcades. There's not much to say about Platinum machines; like TJ Media, they have hidden and unlisted Japanese songs. Based on
  = succeed "," do
    = link_to "the song list", "https://docs.google.com/spreadsheets/d/1nvmG54VP-P0TlDIzhP9IvNBLxAaV_o1K8Fy4IjpLJGw/edit?usp=sharing"
  however, the songs only go up to early 2000 i.e. <em>X-Japan</em> is there, but not much <em>L'Arc~en~Ciel</em>.

%p
  These 3 machines make up most of the local KTV market. As for the rest, they either use the less popular brands (e.g. Hyundai HDT, Megapro) or have their own PC-based karaoke system. As of this writing, we still have no info regarding those machines.

%h2 How you can contribute

%p
  You can contribute by
  = link_to "submitting", submit_info_path
  or by 
  = link_to "requesting", request_info_path
  new info. Here's what we need right now:

%ul
  %li
    %strong Good karaoke venues
    (KTVs, karaoke booths) - family friendly only. We'd also like to see venues from outside Metro Manila.
  %li
    %strong New songs/artists
    \- there's tens of thousands of songs so we prioritize songs that we like, and the songs that make for good karaoke.

%p For bug reports and feature requests, please file them via Github. The link is in the footer below.
