- build_meta_tags title: "About"
%h1 About this Site

%p We don't sing that much anymore, but whenever we get dragged to a karaoke bar we always encounter the same problems:

%ul
  %li The place a bit pricey
  %li People can't decide what to sing
  %li Some songs are missing in the book
  %li Song books only list English, OPM, and maybe K-Pop. No J-Pop/C-Pop/European songs even though they may be in the machine

%p This site's main goals are to help you deal with those problems. It should:

%ul
  %li Help you find the closest, most affordable karaoke bar
  %li Suggest songs when your group cannot decide what to sing
  %li Provide numbers and links to lyrics of rare songs

%h2 Roadmap

%p Right now, this site is curated by a handful of admins. All requests and submissions will go through the comments and will be verified and processed by the admins.

%p If it gets a huge amount traffic (i.e. &gt; 5000 songs), we'll consider turning this into a fully crowdsourced site, with submission voting and wiki style editing.

%h2 On non-English/OPM music

%p
  Chinese and Korean Pop song entries are on hold until we get people who can curate the list.

%p
  Japanese songs is currently limited to pre-2010 music - they're more likely to show up in Kumyoung and TJ Media machines, even those not updated for a long time. There are some exceptions, however, like
  = link_to "ultra popular songs", "http://karaoke.karaniwan.org/songs/guren-no-yumiya"
  and
  = link_to "songs that we've seen in a local KTV", "http://karaoke.karaniwan.org/songs/crossing-field"
  \. We also prioritize anime OSTs as they are more popular locally than your usual idol group pop music.

%h2 A quick run-through of local karaoke machines

%p
  %strong
    %em= link_to "Kumyoung", karaoke_machine_path("kumyoung")
  karaoke machines are the reason why we started this database - they have a decent collection of modern Japanese music and their 
  = link_to "numbers/keys can be searched", "http://dncenter.ikaraoke.kr/"
  online. Even a hole in the wall public karaoke with a non-updated KY machine can have 
  = link_to '"Rewrite"', song_path("rewrite") 
  and
  = link_to '"Tears"', song_path("tears")
  hidden within it.

%p
  The only downsides to KY is that it's no longer as widespread as before (e.g. Timezone switched to Platinum) and the online search sometimes produces unexpected results (e.g. not all matching songs are displayed).

%p
  %strong
    %em= link_to "TJ Media", karaoke_machine_path("tj-media-tkr-304p")
  machines (more specifically, the TKR-304P model) also make up a good chunk of the local KTV market as it's the one used by Quantum Amusement arcades.

  The machine receives praise for its build quality, but unfortunately for us this Philippine version does not match the numbering scheme used in their Korean site. This means that even though the machines may have pre-2010 Japanese/Chinese music, we will have to search for them manually as no local song books are available for those 2 languages.

%p
  %strong
    %em= link_to "Platinum", karaoke_machine_path("platinum")
  is the last major "name" that you'll find in local KTVs and you can find them in local Timezone arcades. There's not much to say about Platinum machines; like TJ Media, they have hidden and unlisted Japanese songs that we'll have to find manually. We also don't expect to find post-2000 songs.

%p
  These 3 machines make up most of the local KTV market. As for the rest (e.g. Red Box), they have their own PC-based karaoke system. As of this writing, we still have no info regarding those machines.

%h2 How you can contribute

%p
  You can contribute by
  = link_to "submitting", submit_info_path
  or by 
  = link_to "requesting", request_info_path
  new info. Here's what we need right now:

%ul
  %li
    %strong Good karaoke venues
    (KTVs, karaoke booths) - family friendly only. We'd also like to see venues from outside Metro Manila.
  %li
    %strong New songs/artists
    \- there's tens of thousands of songs so we prioritize songs that we like, and the songs that make for good karaoke.

%p
  %strong We need to borrow a TJ Media TKR-304P and a Platinum X/T/BMB machine
  for at least an afternoon so that we can try to look for the hidden Japanese songs. If we're lucky, songs in TKR-304P may just be offset (i.e. actual number = KR number + some value). Platinum may even be easier as Japanese songs there are apparently arranged alphabetically. 

%p For bug reports and feature requests, please file them via Github. The link is in the footer below.
