- build_meta_tags title: "Karaoke Places nearest me"
#map{ style: "height: 400px" }
%h1 Karaoke Places nearest me

= render 'karaoke_places/table'

- content_for :scripts do
  :javascript
    window.setupMap(#{params[:lat]}, #{params[:long]}, 5);
    var data = JSON.parse("#{escape_javascript @bars.to_json(only: [:name, :latitude, :longitude, :slug])}")
    markers = [];
    for (var i = 0; i < data.length; i++) {
      var marker = L.marker([ data[i]["latitude"], data[i]["longitude"]])
        .addTo(window.Map)
        .bindPopup("<strong><a href='#{karaoke_places_url}/" + data[i]["slug"] + "'>" + data[i]["name"] + "</a></strong>");
      markers.push(marker);
    }
    var greenIcon = L.icon({
      iconSize:     [25, 41], 
      iconAnchor:   [13, 41], 
      popupAnchor:   [0, -33], 
      iconUrl: '#{asset_path("marker-green.png")}'
    });
    var marker = L.marker([ #{params[:lat]}, #{params[:long]}], {icon: greenIcon}).addTo(window.Map).bindPopup("You are here");
    markers.push(marker);

    var group = new L.featureGroup(markers);
    window.Map.fitBounds(group);

