#map{ style: "height: 400px" }
%h1 All Karaoke Places
%table.table.table-striped
  %tr
    %th Name
    %th Address
    %th Machine
  - @bars.each do |bar|
    %tr
      %td= link_to bar.name, bar
      %td= bar.address
      %td= display_karaoke_machine(bar)


- content_for :scripts do
  :javascript
    var data = JSON.parse("#{escape_javascript KaraokePlace.all.to_json(only: [:name, :latitude, :longitude, :slug])}")
    for (var i = 0; i < data.length; i++) {
      L.marker([ data[i]["latitude"], data[i]["longitude"]])
        .addTo(window.Map)
        .bindPopup("<a href='#{karaoke_places_url}/" + data[i]["slug"] + "'>" + data[i]["name"] + "</a>");
    }
