- build_meta_tags title: @bar.name
#map{ style: "height: 400px" }
%h1= @bar.name 
%p
  %em= @bar.address
= raw @bar.description_html

%p
  Tags:
  - @bar.tag_list.each_with_index do |tag, i|
    = link_to(tag, place_tag_path(tag)) + (i < @bar.tag_list.length - 1 ? ', ' : '')


- if @bar.karaoke_machine.present?
  %p
    This place uses
    = link_to @bar.karaoke_machine.name, @bar.karaoke_machine
    karaoke machines.

= render 'pages/disqus_code'

- content_for :scripts do
  :javascript
    var data = JSON.parse("#{escape_javascript @bar.to_json(only: [:name, :latitude, :longitude, :slug])}")
    window.setupMap(data["latitude"], data["longitude"], 16);
    L.marker([ data["latitude"], data["longitude"]])
      .addTo(window.Map)
      .bindPopup("<strong>" + data["name"] + "</strong>");
