#map{ style: "height: 400px" }
%h1= @bar.name 
%p
  %em= @bar.address
= raw @bar.description_html

%p
  Tags:
  - @bar.tag_list.each do |tag|
    = link_to tag, place_tag_path(tag)

- if @bar.karaoke_machine.present?
  %p
    This place uses
    = link_to @bar.karaoke_machine.name, @bar.karaoke_machine
    karaoke machines.
- content_for :scripts do
  :javascript
    var data = JSON.parse("#{escape_javascript @bar.to_json(only: [:name, :latitude, :longitude, :slug])}")
    L.marker([ data["latitude"], data["longitude"]])
      .addTo(window.Map)
      .bindPopup("<strong>" + data["name"] + "</strong>");
    window.Map.setView(new L.LatLng(data["latitude"], data["longitude"]), 16)
